.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 3rem;
  background-color: rgb(37, 35, 24);
  margin: 1rem;
}

.container h1 {
  text-align: center;
  color: white;
}
